*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 'poppins',sans-serif;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: #f2f2f2;
}
h1{
    color: brown;
    padding: 5px;
    margin: 10px;
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 30px;
}
.content {
    width: 20%;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 13px 0px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    transition: .4S;
    background: #f2f2f2;
}
.content button{
    border: none;
    background-color: brown;
    padding:8px 15px;
    border-radius: 30px;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}
img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h5{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}
.ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
 .ul li{
    padding-top: 5px;
}
.fa{
    font-size: 20px;
    transition: .4s;
    margin: 3px;
}
 li i :nth-child(5):hover {
    color: #ff9f43;
}
.checked{
    color: #ff9f43;
}
.fa:hover{
    transform: scale(1.3);
    color: #ff9f43;
}
@media(max-width:992px) and (min-width:768px){
    .gallery{
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    .content{
        width: 20%;
    }
}
@media(max-width:480px){
    .gallery{
        display: flex;
    justify-content: center;
    flex-direction: column;
    }
    .content{
        width: 80%;
        margin: 10px auto;
    }
}