/* event section */
.event{
    margin: 200px auto;
}
.event-content{
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.3);
    inset: 10px 10px 10px -10px rgba(0,0,0,0.5);
    padding: 10px;
    cursor: pointer;
    background: #fff !important;
    margin-top: -3px !important;
    margin-left: 20px !important;
    position: absolute;
}
.event-content h4{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;
}
.event-content span{
    font-style: italic;
    font-size: 15px;
}
.event-content a{
    text-transform: uppercase;
   font-weight: bold;
   margin-top: 10px !important;
}
.event img{
    transition: 0.6s;
}
.event img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.event .col-sm-5{
    margin-bottom: 200px !important;
}
.image{
    width: 300px;
    height: 300px;
}